# app
NEXT_PUBLIC_APP_NAME=Insights Jobs AI
NEXT_PUBLIC_APP_DOMAIN=https://insights-jobs-ai.vercel.app
NEXT_PUBLIC_APP_URL=https://insights-jobs-ai.vercel.app
NEXT_PUBLIC_AUTHOR_NAME=Insights Jobs AI

# database (MongoDB Atlas)
DATABASE_URL=mongodb+srv://username:password@cluster.mongodb.net/insights-jobs-ai

# auth (Clerk)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/signin"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/signup"
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_URL="/"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_URL="/"
